#Added policy for audioserver by Mohamed Zumair
allow audioserver device:chr_file { ioctl };
allow audioserver init:unix_stream_socket { connectto };
