#Added policy for cameraserver by Mohamed Zumair
allow cameraserver device:chr_file { ioctl };
allow cameraserver init:unix_stream_socket { connectto };
allow cameraserver property_socket:sock_file { write };
allow cameraserver debugfs_trace_marker:file { write open };
allow cameraserver CAM_CAL_DRV1_device:chr_file rw_file_perms;
allow cameraserver CAM_CAL_DRV2_device:chr_file rw_file_perms;
allow cameraserver CAM_CAL_DRV3_device:chr_file rw_file_perms;
