# Operation: TEEI integration
# Purpose: access for fp device and client device of TEEI
type teei_fp_device, dev_type;
type teei_client_device, dev_type;
type teei_config_device, dev_type;
type teei_vfs_device, dev_type;
type teei_rpmb_device, dev_type;
type ut_keymaster_device, dev_type;
type tee_part_device, dev_type;
type tee_block_device, dev_type;
type nvcfg_block_device, dev_type;

type qemu_pipe_device, dev_type;

# Operation : Migration
# Purpose : Add permission for gpu access
type dri_device, dev_type, mlstrustedobject;
type hotknot_device, dev_type;
type irrx_device, dev_type;

type aal_als_device, dev_type;
type logo_device, dev_type;
type mmcblk0_block_device, dev_type;
type md32_device, dev_type;
type scp_device, dev_type;
type ttyACM_device, dev_type;
type eemcs_device, dev_type;
type misc_device, dev_type;
#type stpwmt_device, dev_type;
#type ccci_device, dev_type;
type wod_sim_socket, file_type;
type wod_action_socket, file_type;

type otp_device, dev_type;

type MTK_SMI_device, dev_type;
type pro_info_device, dev_type;
type persist_block_device, dev_type;
type oem_block_device, dev_type;
type usb_ffs_device, dev_type;
type rfkill_device, dev_type;
type CAM_CAL_DRV1_device, dev_type;
type CAM_CAL_DRV2_device, dev_type;
type CAM_CAL_DRV3_device, dev_type;
