# Operation: TEEI integration
# Purpose: access for fp device and client device of TEEI
type teei_fp_device, dev_type;
type teei_client_device, dev_type;
type teei_config_device, dev_type;
type teei_vfs_device, dev_type;
type teei_rpmb_device, dev_type;
type ut_keymaster_device, dev_type;
type tee_part_device, dev_type;
type tee_block_device, dev_type;

type qemu_pipe_device, dev_type;

# Operation : Migration
# Purpose : Add permission for gpu access
type dri_device, dev_type, mlstrustedobject;
type hotknot_device, dev_type;
type irrx_device, dev_type;

type aal_als_device, dev_type;
type logo_block_device, dev_type;
type logo_device, dev_type;
type para_block_device, dev_type;
