# adbd config file
type adbd_data_file, file_type, data_file_type;

# AEE exp
type aee_exp_data_file, file_type, data_file_type;
type aee_dumpsys_data_file, file_type, data_file_type;

# SF rtt dump
type sf_rtt_file, file_type, data_file_type;

type proc_ged, fs_type;

# TEEI data file
type teei_data_file, file_type, data_file_type;
type teei_thh_data_file, file_type, data_file_type;

# data_tmpfs_log
type data_tmpfs_log_file, file_type, data_file_type;

#mobilelog data/misc/mblog
type logmisc_data_file, file_type, data_file_type;

#mobilelog data/log_temp
type logtemp_data_file, file_type, data_file_type;
