# adbd config file
type adbd_data_file, file_type, data_file_type;

# AEE exp
type aee_exp_data_file, file_type, data_file_type;
type aee_dumpsys_data_file, file_type, data_file_type;

# SF rtt dump
type sf_rtt_file, file_type, data_file_type;

type proc_ged, fs_type;

# TEEI data file
type teei_data_file, file_type, data_file_type;
type teei_thh_data_file, file_type, data_file_type;

# data_tmpfs_log
type data_tmpfs_log_file, file_type, data_file_type;

#mobilelog data/misc/mblog
type logmisc_data_file, file_type, data_file_type;

#mobilelog data/log_temp
type logtemp_data_file, file_type, data_file_type;

type sysfs_md32, fs_type, sysfs_type;
type sysfs_scp, fs_type, sysfs_type;
type sysfs_ccci, fs_type, sysfs_type;

type nvram_data_file, file_type, data_file_type;

# Socket types
type volte_imcb_socket, file_type;
type volte_ua_socket, file_type;
type volte_stack_socket, file_type;
type rild_ims_socket, file_type;
type rild_imsm_socket, file_type;
type volte_vt_socket, file_type;
type rild_mal_socket, file_type;
type rild_mal_at_socket, file_type;
type rild_mal_md2_socket, file_type;
type rild_mal_at_md2_socket, file_type;
type mal_mfi_socket, file_type;

# add for fingerprint ET3XX
type etsd_data_file, file_type, data_file_type;

type custom_file, file_type, data_file_type;
type radvd_data_file, file_type, data_file_type;
# ims ipsec config file
type ims_ipsec_data_file, file_type, data_file_type;
