allow ged_srv           property_socket:sock_file write;
allow ged_srv           init:unix_stream_socket connectto;

# Perfservice
allow ged_srv           mtk_perf_service:service_manager find;
allow ged_srv           system_server:binder call;
allow ged_srv           ged_srv_service:service_manager     add;

# For /proc/[pid]/cmdline accessing
typeattribute           ged_srv                             mlstrustedsubject;
allow ged_srv           proc:dir                            {search getattr};
allow ged_srv           proc:file                           {read write ioctl};
allow ged_srv           shell:dir                           search;
allow ged_srv           platform_app:dir                    search;
allow ged_srv           platform_app:file                   {open read getattr};
allow ged_srv           priv_app:dir                        search;
allow ged_srv           priv_app:file                       {open read getattr};
allow ged_srv           system_app:dir                      search;
allow ged_srv           system_app:file                     {open read getattr};
allow ged_srv           untrusted_app:dir                   search;
allow ged_srv           untrusted_app:file                  {open read getattr};
allow ged_srv           mediaserver:dir                     search;
allow ged_srv           mediaserver:file                    {open read getattr};

# for ged_query_info(): ioctl at /proc/ged
allow ged_srv           proc_ged:file                       {open read write ioctl};

# for accessing /sys, i.e.:
# 	1) /sys/class/BOOT/BOOT/boot/boot_mode of PerfServ
#
allow ged_srv           sysfs:file                          {read write open};

# Binder interaction
allow ged_srv           mtk_perf_service:service_manager    find;
allow surfaceflinger    ged_srv_service:service_manager     find;
allow platform_app      ged_srv_service:service_manager     find;
allow priv_app          ged_srv_service:service_manager     find;
allow system_app        ged_srv_service:service_manager     find;
allow untrusted_app     ged_srv_service:service_manager     find;

#debugfs_ged
allow ged_srv debugfs_ged:file { write open getattr };
