#Added by Mohamed Zumair
allow hal_keymaster_default sysfs_devices_system_cpu:file { read open getattr };
allow hal_keymaster_default ut_keymaster_device:chr_file { read write open };
