#Added policy for init by Mohamed Zumair
allow init system_data_file:file { append };
allow init storage_file:lnk_file { read };
allow init init:netlink_socket { create setopt bind getattr write read };
allow init graphics_device:chr_file { write ioctl };
allow init block_device:blk_file { write };
allow init system_data_file:sock_file { write };
allow init storage_file:lnk_file { read };
allow init devpts:chr_file { setattr };
allow init socket_device:sock_file { create setattr };
allow init tmpfs:lnk_file { create };
allow init kernel:system { module_request };
allow init debugfs:file { write };
allow init perf_control_sysfs:file { getattr };
allow init logmisc_data_file:file { append };
allow init logmisc_data_file:file { append };
allow init sdcardfs:dir { search write add_name remove_name read open };
allow init sdcardfs:file { create read append open getattr unlink };
allow init mnt_user_file:lnk_file { read };
allow init media_rw_data_file:file { append };
allow init stpwmt_device:chr_file { write };
allow init teei_client_device:chr_file { write ioctl };
allow init teei_data_file:file { append };
allow init aal_als_device:chr_file { ioctl };
allow init functionfs:dir { mounton };
allow init wmtWifi_device:chr_file { write };
allow init usb_ffs_device:dir { mounton };
allow init shell_data_file:file { create write };
allow init shell_data_file:dir { open };
