# ==============================================
# MTK Policy Rule 
# ==============================================

typeattribute platform_app mlstrustedsubject;

# Date : 2014/07/22
# Operation : Migration
# Purpose : mtk_agpsd establishes the local socket as agpsd for all A-GPS
#           application to do something with mtk_agpsd
unix_socket_connect(platform_app, agpsd, mtk_agpsd);


# Date : 2014/08/21
# Operation : Migration
# Purpose : FMRadio enable driver access permission for fmradio hardware device
# Package: com.mediatek.fmradio
allow platform_app fm_device:chr_file rw_file_perms;

# Date : 2014/09/11
# Operation : Migration
# Purpose : MTKLogger need setup local socket with native daemon:mobile_logd,
# netdialog,mdlogger,emdlogger,cmddumper
# Package: com.mediatek.mtklogger
allow platform_app mobile_log_d:unix_stream_socket connectto;
allow platform_app init:unix_stream_socket connectto;
unix_socket_connect(platform_app, netdiag, netdiag)


# Date : 2014/10/17
# Operation : Migration
# Purpose :Make MTKLogger or VIASaber apk can Access storage
# Package: com.mediatek.mtklogger
allow platform_app sdcard_type:file create_file_perms;
allow platform_app sdcard_type:dir create_dir_perms;

# Date : 2014/11/12
# Operation : Migration
# Purpose : MTKLogger need copy exception db from data folder
# Package: com.mediatek.mtklogger
allow platform_app aee_exp_data_file:file r_file_perms;
allow platform_app aee_exp_data_file:dir r_dir_perms;

# Date : 2015/01/13
# Operation : New feature for GPS Log
# Purpose : MTKLogger need setup local socket with mnld
# Package: com.mediatek.mtklogger
allow platform_app mnld:unix_stream_socket connectto;

# require process owner to review.
allow platform_app system_app_service:service_manager find;
# ==============================================
# MTK Policy Rule 
# ==============================================

allow platform_app fuseblk:file create_file_perms;

#Date : 2016/03/03
# Operator : DM_agent_binder policy review
# Purpose : Move DM agent binder policy to BSP from BASIC
# Package : dm_agent_binder.bin
allow platform_app dm_agent_binder_service:service_manager find;

allow platform_app guiext-server_service:service_manager find;
# ==============================================
# MTK Policy Rule 
# ==============================================

# Date : 2014/10/21
# Operation : SQC 
# Purpose : [ALPS01772746] Permission denied for backup App data
# Package: com.mediatek.backuprestore
# unix_socket_connect(platform_app, backuprestore, br_app_data_service);

# Date : 2014/11/19
# Operation : Migration
# Purpose : FileManager can access attribute of file execute
# Package: com.mediatek.filemanager
allow platform_app sdcard_type:file execute;

# Date : 2014/09/23
# Operation : Migration
# Purpose : camera process need to read cpu temperature from /proc/mtktz/mtktscpu path
# Package: com.mediatek.camera
allow platform_app proc_mtktz:dir search;
allow platform_app proc_mtktz:file read;

# Date : 2014/09/26
# Operation : Migration
# Purpose : camera app need to r/w camera_isp_device file for lomo effect
# Package: com.mediatek.camera
allow platform_app camera_isp_device:chr_file rw_file_perms;


# Operation : New feature for AppManager Install
# Purpose : AppManager Install need pm access permission
# Package: com.mediatek.wearable
allow platform_app system_app_data_file:dir search;

# Date : 2015/09/19
# Operation : Migration
# Purpose : allow platform_app to find pq_service
allow platform_app pq_service:service_manager { find };

# Date : 2015/10/30
# Operation : Migration
# Purpose : allow platform_app to find aal_service
allow platform_app aal_service:service_manager { find };

# Date : 2014/11/17
# Operation : Migration
# Purpose : Gallery needs to access video codec to encode motion track video
# Package: com.android.gallery3d
allow platform_app Vcodec_device:chr_file { read write ioctl open };

# Date : 2014/11/21
# Operation : Migration
# Purpose : Gallery needs to search radio data when send mms
# Package: com.android.gallery3d
allow platform_app radio_data_file:dir search;

# Date : 2015/09/06
# Operation : SQC
# Purpose : [NFC][can not get nfc service]
# Package: com.android.gallery3d
allow platform_app nfc_service:service_manager find;

# Date : 2015/09/21
# Operation : CMCC_AutoTest
# Purpose : gallery needs to search mediaserver when browsing videos
# Package: com.android.gallery3d
allow platform_app mediaserver:dir search;

# Date: 2015/9/23
# Operation: Program binary service
# Purpose : Add permission for program binary service find from ServiceManager.
allow platform_app program_binary_service:service_manager find;

# Date : 2015/12/9
# Operation : Migration
# Purpose : Added by xiehaifei for Fingerprint ET320 esfp0 device
# Package: com.android.systemui
allow platform_app esfp0_device:chr_file rw_file_perms;
#allow platform_app self:netlink_kobject_uevent_socket { create_socket_perms };
allow platform_app esfp0_device:chr_file rw_file_perms;
allow platform_app etsd_service:service_manager find;
allow platform_app etsd:binder { call transfer };
