# Operation : Migration
# Purpose : for enforcing
allow pq init:unix_stream_socket connectto;
allow pq property_socket:sock_file write;

allow pq graphics_device:chr_file { write };
allow pq graphics_device:dir search;

# Date : WK15.39
# Operation : Migration
# Purpose : Allow permission check
allow pq pq_service:service_manager { find };
allow pq permission_service:service_manager { find };
