#=============allow teei deamon and init_thh daemon to set property ==============
type soter_teei_prop, property_type, mtk_property_type;

#=============allow bootanim==============
type bootani_prop, property_type, mtk_property_type;

#=============allow radio to set mtk_volte_enable property==============
type mtk_volte_prop, property_type, mtk_property_type;

#=============allow mtkmal to start volte==============
type ctl_volte_imcb_prop, property_type;
type ctl_volte_stack_prop, property_type;
type ctl_volte_ua_prop, property_type;
type volte_prop, property_type, mtk_property_type;

#=============allow volte_rcs_proxy ==============
type ril_volte_stack_rcsuaproxy_prop, property_type, mtk_property_type;

type ftrace_log_prop, property_type, mtk_property_type;

#=============allow mtkrild to set persist.ril property==============
type persist_ril_prop, property_type, mtk_property_type;
#=============allow ccci_mdinit to set ril_active_md_prop==============
type ril_active_md_prop, property_type, mtk_property_type;
type ril_cdma_report_prop, property_type, mtk_property_type;
type persist_service_atci_prop, property_type, mtk_property_type;

#=============allow mtkril set ims property================
type persist_mtk_main_attach, property_type;
#=============allow pppd ==============
type pppd_gprs_prop, property_type, mtk_property_type;

type mtk_wod_prop, property_type, mtk_property_type;
type persist_wod_prop, property_type, mtk_property_type;

#=============allow netlog running==============
type debug_mtklog_prop, property_type, mtk_property_type;
type persist_mtklog_prop, property_type, mtk_property_type;
type debug_netlog_prop, property_type, mtk_property_type;

type persist_dm_prop, property_type, mtk_property_type;

#=============allow AEE==============
type persist_mtk_aee_prop, property_type, mtk_property_type;
type persist_aee_prop, property_type, mtk_property_type;
type debug_mtk_aee_prop, property_type, mtk_property_type;

#=============allow aee_dumpstate==============
type debug_bq_dump_prop, property_type, mtk_property_type;
