#Add policy for surfaceflinger by Mohamed Zumair
allow surfaceflinger device:chr_file { ioctl };
allow surfaceflinger debugfs_trace_marker:file { write open };
