# MTK platform .rc configure

import init.mt6735.usb.rc
import init.oem.rc

# egistec fingerprint add fp daemon start
service etsd /system/bin/etsd
    user system
    group system
    class late_start

on init
    mkdir /oem 0550 root root
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
#  liupeng@wind-mobi.com 20161118 begin	
	chmod 0666 /dev/pn547
	chown system system /dev/pn547
#liupeng@wind-mobi.com 20161118 end
#zhuzhibin@wind-mobi.com 20161130 start
    chmod 0666 /sys/bus/platform/drivers/gsensor/start_fast_calibration
#zhuzhibin@wind-mobi.com 20161130 end
#wangshaohua@wind-mobi.com 20161205 start
    chmod 0666 /sys/devices/platform/battery/Charging_disable
#wangshaohua@wind-mobi.com 20161205 end
#qidongdong@wind-mobi.com 20170208 start
    chmod 0666 /sys/devices/platform/battery/ChargingBat_disable
#qidongdong@wind-mobi.com 20170208 end
#qidongdong@wind-mobi.com on 2016/12/8 add for sar sensor test start
    chmod 0666 /sys/bus/i2c/devices/2-0028/calibrate
    chown system system /sys/bus/i2c/devices/2-0028/calibrate
    chmod 0666 /sys/devices/bus/11009000.i2c/i2c-2/2-0028/calibrate
    chown system system /sys/devices/bus/11009000.i2c/i2c-2/2-0028/calibrate
#qidongdong@wind-mobi.com on 2016/12/8 add for sar sensor test end
on post-fs-data
    chown system system /persist
    chmod 0771 /persist

    # jijin.wang restorecon /persist to set SEPolicy label.
    restorecon /persist
    # lenovo sw zhangpei5 20170223 save log in /persist/simlock
    mkdir /persist/simlock 0775 system mot_tcmd
    chown radio mot_tcmd /persist/simlock
    chmod 0775 /persist/simlock
#patch for GCF 8.X and 15.X--sunsiyuan@wind-mobi.com add at 20170425 begin
    mkdir /data/nfc 0770 nfc nfc
#patch for GCF 8.X and 15.X--sunsiyuan@wind-mobi.com add at 20170425 end

#   insmod /vendor/lib/modules/mtk_hif_sdio.ko
#   insmod /vendor/lib/modules/mtk_stp_wmt.ko
#   insmod /vendor/lib/modules/mtk_stp_uart.ko
#   insmod /vendor/lib/modules/mtk_stp_gps.ko
#   insmod /vendor/lib/modules/mtk_stp_bt.ko
#   insmod /vendor/lib/modules/mtk_fm_drv.ko
#   insmod /vendor/lib/modules/mtk_wmt_wifi.ko

    #restore necessary files into data partition
    mkdir /data/thh 0770 root root
    mkdir /data/thh/tee_00 0770 root root
    copy /cache/thh/tee_00/thh_mt6737_woods.certs /data/thh/tee_00/thh_mt6737_woods.certs
    copy /cache/thh/tee_00/thh_mt6737_woods.cfg /data/thh/tee_00/thh_mt6737_woods.cfg
    mkdir /data/local 0751 root root
    mkdir /data/local/tmp 0771 shell shell
    copy /cache/local/tmp/thh_mt6737_woods.cfg /data/local/tmp/thh_mt6737_woods.cfg

#add by tanhua1
    chown system system /sys/class/graphics/fb0/cabc_mode
    chown system system /sys/class/graphics/fb0/hbm
#add end

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF

	chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF
#wangkangmin@wind-mobi.com 20161206 add for camera af and BB otp begin
    chmod 0660 /dev/DW9718AF
    chown system camera /dev/DW9718AF

    chmod 0660 /dev/DW9718QTAF
    chown system camera /dev/DW9718QTAF

    chmod 0660 /dev/CAM_CAL_DRV1
    chown system camera /dev/CAM_CAL_DRV1

    chmod 0660 /dev/CAM_CAL_DRV2
    chown system camera /dev/CAM_CAL_DRV2

    chmod 0660 /dev/CAM_CAL_DRV3
    chown system camera /dev/CAM_CAL_DRV3
#wangkangmin@wind-mobi.com 20161206 add for camera af and BB otp end
#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

# xuzhifeng@wind-mobi.com 20161130 begin
#fp
    chown system system /sys/devices/platform/egis_input/navigation_enable
    chmod 0660 /sys/devices/platform/egis_input/navigation_enable
    
    chown system system /sys/devices/platform/egis_input/navigation_event
    chmod 0660 /sys/devices/platform/egis_input/navigation_event
# xuzhifeng@wind-mobi.com 20161130 end
    
#Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1

#   insmod /vendor/lib/modules/wlan_mt.ko




    chmod 0666 /dev/exm0

    #sensors:
    chmod 0664 /sys/bus/platform/drivers/gsensor/cali
    chmod 0664 /sys/bus/platform/drivers/gsensor/flat_threshold
    chmod 0664 /sys/bus/platform/drivers/gsensor/flatdown
    chmod 0664 /sys/bus/platform/drivers/gsensor/int_mode
    chmod 0664 /sys/bus/platform/drivers/gsensor/softreset
    chmod 0664 /sys/bus/i2c/drivers/ltr778/als
    chmod 0664 /sys/bus/i2c/drivers/ltr778/alslv
    chmod 0664 /sys/bus/i2c/drivers/ltr778/alsval
    chmod 0664 /sys/bus/i2c/drivers/ltr778/reg
    chmod 0664 /sys/bus/i2c/drivers/ltr778/ps
    chmod 0664 /sys/bus/i2c/drivers/ltr778/status
    chmod 0664 /sys/bus/i2c/drivers/ltr778/stowed

    chown system system /sys/bus/platform/drivers/gsensor/cali
    chown system system /sys/bus/platform/drivers/gsensor/flat_threshold
    chown system system /sys/bus/platform/drivers/gsensor/flatdown
    chown system system /sys/bus/platform/drivers/gsensor/int_mode
    chown system system /sys/bus/platform/drivers/gsensor/softreset
    chown system system /sys/bus/i2c/drivers/ltr778/als
    chown system system /sys/bus/i2c/drivers/ltr778/alslv
    chown system system /sys/bus/i2c/drivers/ltr778/alsval
    chown system system /sys/bus/i2c/drivers/ltr778/reg
    chown system system /sys/bus/i2c/drivers/ltr778/ps
    chown system system /sys/bus/i2c/drivers/ltr778/status
    chown system system /sys/bus/i2c/drivers/ltr778/stowed

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    
# egistec fignerprint add end
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system

#tee_xuzhifeng

# egistec fingerprint add fp daemon start
service etsd /system/bin/etsd
    user system
    group system
    class late_start
    
# egistec fignerprint add end
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system

#add for demo mode
on property:persist.mot.demo_mode_charging=1
    write /sys/devices/platform/battery/force_demo_mode 70

on property:persist.mot.demo_mode_charging=1 && property:ro.carrier=vzw
    write /sys/devices/platform/battery/force_demo_mode 35
