#
# Rilproxy related services (Begin)
#

#
# Rilproxy used to control ril request/urc/response for gsm rild and c2k rild
#
service ril-proxy /vendor/bin/rilproxy -l mtk-rilproxy.so
    class core
    socket rild stream 660 root radio
    socket rild2 stream 660 root radio
    socket rild3 stream 660 root radio
    socket rild4 stream 660 root radio
    socket rilproxy-atci stream 660 root radio
    socket rilproxy-mal stream 660 radio system
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    socket sap_uim_socket2 stream 660 bluetooth bluetooth
    socket sap_uim_socket3 stream 660 bluetooth bluetooth
    socket sap_uim_socket4 stream 660 bluetooth bluetooth
    socket embmsd stream 660 radio inet
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log system
    oneshot
    disabled

on property:ril.rilproxy=1
    start ril-proxy


#
# Rilproxy related services (End)
#
