on post-fs

#   insmod /vendor/lib/modules/mtk_hif_sdio.ko
#   insmod /vendor/lib/modules/mtk_stp_wmt.ko
#   insmod /vendor/lib/modules/mtk_stp_uart.ko
#   insmod /vendor/lib/modules/mtk_stp_gps.ko
#   insmod /vendor/lib/modules/mtk_stp_bt.ko
#   insmod /vendor/lib/modules/mtk_fm_drv.ko
#   insmod /vendor/lib/modules/mtk_fm_priv.ko
#   insmod /vendor/lib/modules/mtk_wmt_wifi.ko

    #insmod /vendor/lib/modules/mtk_wmt_detect.ko
    #restore necessary files into data partition
    mkdir /data/thh 0770 root root
    mkdir /data/thh/tee_00 0770 root root
    copy /cache/thh/tee_00/thh_mt6737_woods.certs /data/thh/tee_00/thh_mt6737_woods.certs
    copy /cache/thh/tee_00/thh_mt6737_woods.cfg /data/thh/tee_00/thh_mt6737_woods.cfg
    mkdir /data/local 0770 root root
    mkdir /data/local/tmp 0770 root root
    copy /cache/local/tmp/thh_mt6737_woods.cfg /data/local/tmp/thh_mt6737_woods.cfg

    #insmod /vendor/lib/modules/wlan.ko


on boot



